body {
  background-color: black;
  overflow-x: hidden;
  color: pink;
  font-family: 'Rajdhani', sans-serif;
}

h1 {
  text-decoration: wavy underline;
  font-weight: 500;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.container {
  position: relative;
  padding: 50px;
  left: 20%;
}
