body{
  background-color: black;
  color: white;
  width:50%;
  margin: auto;
  font-family: 'Bentham', serif;
}

.ingredient-container {
  width:80vw;
  margin: auto;
}

.ingredient-directions {
  display: inline-block;
  padding: 20px;
  font-size: 290%;


}



.trio {
  width:90vw;
  margin: auto;
}


.trio p{
  display: inline-block;
  padding: 30px;
  font-size: 290%
}

h1{
  font-size: 700%;
}

h2{
  font-size: 280%;
}



/* Portrait and Landscape for iPhone X */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    body {
      /* background-color: lightblue; */
      width: 100%;
      margin: auto;

    }

    p, h1, h2, h3 {
      padding: 40px;
    }

    h1{
      padding-right: 40px;
    }

    #intro-img {
      width: 100%;
      padding-bottom: 60px;
    }
    #middle-one-image{
      width: 100%;
      padding-top: 60px;
      padding-bottom: 60px;
    }
    #middle-two-image{
      width: 100%;
      padding-top: 60px;
      padding-bottom: 60px;
    }
    #final-image{
      width: 100%;
      padding-top: 60px;
    ]

}


@media only screen and (max-width: 300px) {

}
