body {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 12pt; /* 16px; 16%; 1em; 1rem*/
  position: relative;
  left: 15%
}

div{
  color: gray
  text alignment

}

.font-weight-title {
  color: #95CED9;
  font-weight: lighter;
}

.font-weight {
  font-weight: normal;
  font-size: 90%;
  font-family: monospace;
  color: #52777E;
  position: relative;
  left: 3%
}

.description-light{
  font-weight: 100;
  position: relative;
  left: 3%;
}

.description-regular {
  font-weight: 300;
  position: relative;
  left: 3%;
}

.description-medium {
  font-weight: 500;
  position: relative;
  left: 3%;
}

.description-bold{
  font-weight: 800;
  position: relative;
  left: 3%;
}

.description-normal{
  font-weight: 300;
  position: relative;
  left: 3%;
}

.description-italics{
  font-weight: 300;
  position: relative;
  left: 3%;
  font-style: italic;
}

.letter-spacing-one{
  position: relative;
  left: 3%;
  letter-spacing: -.1em;
}

.letter-spacing-two{
  position: relative;
  left: 3%;
  letter-spacing: 0em;
}

.letter-spacing-three{
  position: relative;
  left: 3%;
  letter-spacing: .1em;
}


.letter-spacing-four{
  position: relative;
  left: 3%;
letter-spacing: .3em;
}

.letter-spacing-five{
  position: relative;
  left: 3%;
  letter-spacing: .5em;
}

.text-transform-none{
  position: relative;
  left: 3%;
}


.text-transform-uppercase{
  position: relative;
  left: 3%;
  text-transform: uppercase;
}

.text-transform-lowercase{
  position: relative;
  left: 3%;
  text-transform: lowercase;
}

.text-transform-capitalize{
  position: relative;
  left: 3%;
  text-transform: capitalize;
}

.text-decoration-none{
  position: relative;
  left: 3%;
}

.text-decoration-underline{
  position: relative;
  left: 3%;
  text-decoration: underline;
}

.text-decoration-overline{
  position: relative;
  left: 3%;
  text-decoration: overline;
}

.text-decoration-line-through{
  position: relative;
  left: 3%;
  text-decoration: line-through;
}

.text-decoration-wavy-underline{
  position: relative;
  left: 3%;
  text-decoration: wavy underline
}

}
