html,
body{
  height:100%;
}
#lemon{
  height: 100%;
  background-position: center;
  background-image: url(../images/lemon.jpg);
  background-size: cover;
  margin-left: auto;
  background-repeat:no-repeat;
}

@media (max-width:600px){
  #lemon{
    background-position: left 70px;
    background-size: 500px;
  }
}

#cake{
  height: 100%;
  background-position: center;
  background-image: url(../images/cake.jpg);
  background-size: cover;
  margin-left: auto;
}
@media (max-width:600px){
  #cake{
    background-position: left 40px;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

#wine{
  height: 100%;
  background-position: center;
  background-image: url(../images/wine.jpg);
  background-size: cover;
  margin-left: auto;
}
@media (max-width:600px){
  #wine{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

#lemon-text{
   font-family: 'Dawning of a New Day', cursive;
   font-size: 30px;
   position: absolute;
   top: 40%;
   left: 65%;
   width: 40%;
   margin: auto;
   color: black;
}

@media (max-width:600px){
  #lemon-text{
    top:60%;
    left: 45%;
  }
}

#cake-text{
   font-family: 'Dawning of a New Day', cursive;
   font-size: 30px;
   position: absolute;
   top: 40%;
   left: 60%;
   width: 40%%;
   color: black;
}
@media (max-width:600px){
  #cake-text{
    top:10%;
  }
}

#wine-text{
   font-family: 'Dawning of a New Day', cursive;
   font-size: 30px;
   position: absolute;
   top: 40%;
   left: 20%;
   width: 40%;
   color: black;
}
@media (max-width:600px){
  #wine-text{
    top:10%;
  }
}

  a{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    z-index: 10;
  }


  a:-webkit-any-link {
    color: -webkit
  }
